@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3fafb;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: hsl(0, 0%, 10%);
}

section {
    width: 400px;
    height: auto;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 28px;
}

.form_heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.btn_submit {
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    text-transform: capitalize;
    transition: all 0.35s ease;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    color: hsl(0, 0%, 100%);
    background: hsl(0, 0%, 10%);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.form {
    display: grid;
    row-gap: 2.35rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.form_control {
    position: relative;
    width: 100%;
    height: 3rem;
    margin: 0 auto;
}

.form_label {
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    left: 0.75rem;
    top: 0.75rem;
    padding: 0 0.35rem;
    color: l(216, 3%, 65%);
    background: hsl(0, 0%, 100%);
    transition: all 0.35s ease;
}

.form_input {
    position: absolute;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0.75rem 1rem;
    z-index: 1;
    outline: none;
    border-radius: 0.25rem;
    border-width: 1.75px;
    border-style: solid;
    border-color: hsl(210, 3%, 73%);
    color: hsl(0, 0%, 10%);
    background-clip: padding-box;
    background-color: transparent;
    transition: all 0.35s ease-in-out;
}

.form_input::-moz-placeholder {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.form_input:-ms-input-placeholder {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.form_input::placeholder {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.form_input:focus+.form_label {
    font-size: 0.875rem;
    font-weight: 400;
    top: -0.65rem;
    left: 0.75rem;
    z-index: 5;
    background-color: white;
}

.form_input:not(:-moz-placeholder-shown).form_input:not(:focus)+.form_label {
    font-size: 0.875rem;
    font-weight: 400;
    top: -0.65rem;
    left: 0.75rem;
    z-index: 5;
    background-color: white;
}

.form_input:not(:-ms-input-placeholder).form_input:not(:focus)+.form_label {
    font-size: 0.875rem;
    font-weight: 400;
    top: -0.65rem;
    left: 0.75rem;
    z-index: 5;
    background-color: white;
}

.form_input:not(:placeholder-shown).form_input:not(:focus)+.form_label {
    font-size: 0.875rem;
    font-weight: 400;
    top: -0.65rem;
    left: 0.75rem;
    z-index: 5;
    background-color: white;
}

.form_alert {
    position: absolute;
    display: block;
    font-size: 0.875rem;
    line-height: 1.5;
    left: 0;
    bottom: -1.5rem;
    opacity: 0;
    visibility: hidden;
    color: hsl(0, 0%, 10%);
}

.form_check i {
    position: absolute;
    display: block;
    content: "";
    top: 0.65rem;
    right: 0.75rem;
    opacity: 0;
    visibility: hidden;
}

.form_control.invalid .form_input {
    border-color: hsl(0, 90%, 60%);
}

.form_control.invalid .form_alert {
    opacity: 1;
    visibility: visible;
    color: hsl(0, 90%, 60%);
}

.form_control.invalid .form_check i.ion-invalid {
    font-size: 1.2rem;
    opacity: 1;
    visibility: visible;
    color: hsl(0, 90%, 60%);
}

.form_control.success .form_input {
    border-color: hsl(131, 53%, 45%);
}

.form_control.success .form_check i.ion-success {
    font-size: 1.2rem;
    opacity: 1;
    visibility: visible;
    color: hsl(131, 53%, 45%);
}

.error_message{
    color: red;
    font-size: 15px;
}

.success_message{
    color: green;
    font-size: 15px;
}